/* CSS */


@media screen and (max-width: 800px) {
    body { 
        color: #B0E298;
        text-decoration-color: #000;
        font-size: 26px;
    }
}

@media screen  and (min-width: 400px) {

    body {
      background-color: #3D3B8E;
      text-decoration-color: #FFF;
      font-size: 14px;
    }
  }

h1 {

    font-family:  'Kaisei Decol', serif;
    font-size: 20px;

}

h2 {

    font-family:  'Kaisei Decol', serif;
    font-size: 20px;

}

h3 {

    font-family:  'Kaisei Decol', serif;
    font-size: 20px;

}

h4 {

    font-family:  'Kaisei Decol', serif;
    font-size: 20px;

}

h5 {

    font-family:  'Kaisei Decol', serif;
    font-size: 20px;

}

h6 {

    font-family:  'Kaisei Decol', serif;
    font-size: 20px;

}

main {

    font-size: 14px;
    border-radius: 30px;
    font-family: 'Kaisei-Decol', serif;

}


@media (min-width: 480px) {
    h1 {
        font-size: 30px;
    }
}

